{{ partial "header.html" . }}

<div class="row">
  <div class="col-sm-8">
    <div style="border: 1px black">
    <!-- Body content -->
    {{ .Content }}
    <!-- /Body content -->
    </div>
  </div>

  <div class="col-sm-3 col-sm-offset-1">
    <div class="sidebar-module sidebar-module-inset">

      <div class="list-group">
        <div class="list-group-item active">
          <h4 class="list-group-item-heading">You are here</h4>
          <p class="list-group-item-text">Here where you are</p>
        </div>
        <a href="/" class="list-group-item">
          <h4 class="list-group-item-heading">Home</h4>
        </a>
        <a href="/how-does-this-work/" class="list-group-item">
          <h4 class="list-group-item-heading">How does this work?</h4>
        </a>
      </div>

    </div>
  </div>
</div>

{{ partial "footer.html" . }}
