server {
  listen {{ nginx.ip }}:80;
  server_name {{ property }}.{{ tld }};

  location ^~ /.well-known/acme-challenge/ {
    root /usr/share/nginx/{{ property }};
  }

  location / {
    return 301 https://{{ property }}.{{ tld }}$request_uri;
  }

}

