server {
  listen {{ nginx.ip }}:80;
  server_name {{ item.domain }}.{{ tld }};
  return 301 https://{{ item.domain }}.{{ tld }};
}

server {
  listen {{ nginx.ip }}:443 ssl;
  server_name {{ item.domain }}.{{ tld }};

  # add Strict-Transport-Security to prevent man in the middle attacks
  add_header Strict-Transport-Security "max-age=31536000";         

  ssl on;
  ssl_certificate {{ letsencrypt_live_path }}/{{ item.domain }}.{{ tld }}/fullchain.pem;
  ssl_certificate_key {{ letsencrypt_live_path }}/{{ item.domain }}.{{ tld }}/privkey.pem;

  location / {
    root   /usr/share/nginx/html;
    index  index.html;
  }
} 
