server {
  listen {{ nginx.ip }}:80;
  server_name soapshop.{{ tld }};

  location ^~ /.well-known/acme-challenge/ {
    root /usr/share/nginx/soapshop;
  }

  location / {
    return 301 https://soapshop.{{ tld }}$request_uri;
  }

}

