{{ partial "header.html" . }}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>I sell soap :)</h1>
        <p>More correctly: My mother makes soap and I sell it for her, using this website.</p>
        <p><a class="btn btn-primary btn-lg" href="/why-soap/" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <h1>Batches of soap you can buy</h1>
      <div class="row">

        {{ range .Data.Pages }}
        {{ if eq "batches" .Type }}
        <div class="col-md-4">
          <h3>{{ .Title }}</h3>
          <p><a class="btn btn-default" href="{{ .Permalink }}" role="button">View <span style="color: blue">{{ .Title }}</span> &raquo;</a></p>
        </div>
        {{ end }}
        {{ end }}        
        
      </div>

      <hr>
    </div> <!-- /container -->

{{ partial "footer.html" . }}
