{{ partial "header.html" . }}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{{ .Site.Title }}
          {{ if eq "1" (getenv "IS_EXP") }} EXPERIMENT!
          <a class="btn btn-info" role="button" data-placement="bottom" data-toggle="popover" title="What do I mean with EXPERIMENTS?" data-content="If you are using the experimental version of the site I might ask you survey questions from time to time. (So I can improve your experience while you're getting some of this delicious soapy goodness!) &#x1F60A;">What does this mean? &#x2B0E;</a>
          {{else}}&#x1F60A;{{end}}
          </h1>
        <p>Or more accurately: My mother makes soap and I am going to try and sell some of it for her, using this website.</p>
        <p><small>If you are seeing this, then you are one of my very best friends, or you are becoming one of my very best friends.</small></p>
        <p><small>Thank you for being here &#x1F64F;</small></p>
        <p><a class="btn btn-primary btn-lg" href="https://www.theamazingsoapshop.co.za" role="button">I'm rebranding and moving to a new site. Look at the progress here &raquo;</a></p>
      </div>
    </div> <!-- /jumbotron -->

    <hr>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h2>I have stock of these batches at the moment</h2>
        <strong>Extra notes:</strong> The soap is made with pure oils chosen for their skin loving properties. Fragrancing is done with Essential Oils only and no artificial fragrances are used. Fragrancing is always very subtle in order to prevent the possibility of allergic reactions on sensitive skin. All the soaps are made using the Cold Process method. All recipes are calculated in order that the final soap will not only clean your skin, but it will feed it as well so that in the end you will have a softer, healthier skin.</div>

        <div id="small-device-batch-container" class="row visible-xs">
        <div class="col-sm-6 col-md-4">
          {{ range .Data.Pages }}
          {{ if eq "batches" .Type }}
          <div class="thumbnail">
            <div class="caption">
              <p><a class="btn btn-info btn-large" href="{{ .Permalink }}" role="button">View {{ .Title }} &raquo;</a></p>
              <p>Batch date: <strong>{{ .Date | dateFormat "02 January 2006" }}</strong></p>
              <p>Stock level: <strong>{{ .Params.batch.stock }}</strong></p>

            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <table class="table table-hover hidden-xs" >
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Stock</th>
        </tr>
        {{ range .Data.Pages }}
        {{ if eq "batches" .Type }}
        <tr>
          <td><a class="btn btn-info" href="{{ .Permalink }}" role="button">View <strong>{{ .Title }}</strong> &raquo;</a></td>
          <td>{{ .Date | dateFormat "02 January 2006" }}</td>
          <td>{{ .Params.batch.stock }}</td>
        </tr>
        {{ end }}
        {{ end }}        
      </table>

    </div>
    
    <hr>

    <div class="panel panel-warning">
      <div class="panel-body">

        <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//soapshop.us12.list-manage.com/subscribe/post?u=ed2aaf58dd6535e2b1a506355&amp;id=68fe103d52" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to The Amazing Soap Shop Newsletter 👍🏽</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<p><a href="http://us12.campaign-archive1.com/home/?u=ed2aaf58dd6535e2b1a506355&id=68fe103d52" title="View previous campaigns">View previous campaigns.</a></p>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ed2aaf58dd6535e2b1a506355_68fe103d52" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

      </div>
    </div>

    {{ if eq "1" (getenv "IS_EXP") }}

    <hr>
    <div class="alert alert-info" role="alert">
      <p><h2>Stop taking part in experiments</h2>
        Thank you for giving it a shot anyway :) 
      <a class="btn btn-success" href="https://soapshop.pb.co.za">Go back to the main site &raquo;</a></p>
    </div>

    {{ else }}
    
    <hr>
    <div class="alert alert-info" role="alert">
      <p><strong>Please help me by taking part in experiments! &#x1F64F;</strong></p>
      <p><a class="btn btn-success" href="https://experiment.pb.co.za">Woohoo! Yeah! &raquo;</a></p>
    </div>
    {{ end }}



{{ partial "footer.html" . }}
